extends layout

block content
	h1 #{title}: #{bookinstance.book.title}

	p #[ Do you really want to delete this copy? ]

		form(method='POST' action='')
			div.form-group
				input#id.form-control(type='hidden', name='id', required='true', value=bookinstance._id)

			button.btn.btn-primary(type='submit') Delete